body{
    overflow-x: hidden;
}

.sorting{
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}
.sort1{
    width: 50%;
}
.sort2{
    width: 50%;
    text-align: end;
}
.sort3{
    width: 50%;
}
.select{
    width: 20px;
}
.inc{
    width: 150px;
    height: 50px;
    color: white;
    background: #000;
    border-radius: 8px;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #000;
    border-color: black;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #101010;
    color: #fff;
}
