body{
    overflow-x: hidden;
}

.sorting{
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}
.sort1{
    width: 50%;
}
.sort2{
    width: 50%;
    text-align: end;
}
.sort3{
    width: 50%;
}
.select{
    width: 20px;
}
.inc{
    width: 150px;
    height: 50px;
    color: white;
    background: #000;
    border-radius: 8px;
}